{% extends '/main/base.html' %}

{% block title %}pizza palace{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h1>pizza palace</h1>
    <p>this is the pizza palace</p>

    <div class="row">
        <div class="col">
            <a href="{{ url_for('size') }}">order a pizza for the family</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ url_for('register') }}">register</a>
        </div>
    </div>
</div>
{% endblock content %}