{% extends '/admin/base.html' %}

{% if complementObj %}

{% set type = 'update' %}
{% set button = 'Update' %}

{% else %}

{% set type = 'new' %}
{% set button = 'Create' %}

{% endif %}

{% block title %}complement {{ type }}{% endblock title %}

{% block content %}
<div class="container">
    <h1>complement {{ type }}</h1>

    <form action="{{ url_for('complementFORM', type=type) }}" method="post">
        {% if complementObj %}
        <div class="form-group">
            <label for="idshow">id:</label>
            <input type="text" class="form-control" id="idshow" name="idshow" value="{{ complementObj['id'] }}"
                readonly>
        </div>

        {% endif %}
        <div class="form-group">
            <label for="description">description:</label>
            <input type="text" class="form-control" id="description" name="description"
                placeholder="enter description..."
                value="{% if complementObj %}{{ complementObj['description'] }}{% endif %}">
        </div>

        <div class="form-group">
            <label for="code">code:</label>
            <input type="text" class="form-control" id="code" name="code" placeholder="enter code..."
                value="{% if complementObj %}{{ complementObj['code'] }}{% endif %}">
        </div>

        <div class="form-group">
            <label for="price">price:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" id="price" name="price" placeholder="enter price..."
                    value="{% if complementObj %}{{ complementObj['price'] }}{% endif %}">
            </div>
        </div>

        {% if sizeObj %}
        <input type="hidden" name="id" id="id" value="{{ complementObj['id'] }}">
        {% endif %}
        <input type="submit" class="btn btn-success" value="{{ button }}">
    </form>
</div>
{% endblock content %}