<!DOCTYPE html>
<html lang="en">

{% if complementObj %}

{% set type = 'update' %}
{% set button = 'Update' %}

{% else %}

{% set type = 'new' %}
{% set button = 'Create' %}

{% endif %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complement {{ type }}</title>
</head>

<body>


    <h1>complement {{ type }}</h1>

    <form action="{{ url_for('complementFORM', type=type) }}" method="post">
        {% if complementObj %}
        <label for="idshow">id:</label>
        <input type="text" id="idshow" name="idshow" value="{{ complementObj['id'] }}" readonly>
        <br><br>
        {% endif %}
        <label for="description">description:</label>
        <input type="text" id="description" name="description"
            value="{% if complementObj %}{{ complementObj['description'] }}{% endif %}">
        <br><br>
        <label for="code">code:</label>
        <input type="text" id="code" name="code" value="{% if complementObj %}{{ complementObj['code'] }}{% endif %}">
        <br><br>
        <label for="price">price:</label>
        <input type="text" id="price" name="price"
            value="{% if complementObj %}{{ complementObj['price'] }}{% endif %}">
        <br><br>
        {% if sizeObj %}
        <input type="hidden" name="id" id="id" value="{{ complementObj['id'] }}">
        {% endif %}
        <input type="submit" value="{{ button }}">
    </form>
</body>

</html>