{% extends '/admin/base.html' %}

{% block title %}size crud{% endblock title %}


{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
        <h1>size crud</h1>
        <a class="btn btn-primary" href="{{ url_for('sizeFORM', type='new') }}">create a new size</a>
    </div>
    <div class="container-fluid pt-3">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>description</th>
                    <th>value</th>
                    <th>price</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for element in sizeList %}
                <tr>
                    <td>{{ element["id"] }}</td>
                    <td>{{ element["description"] }}</td>
                    <td>{{ element["value"] }}</td>
                    <td>{{ element["price"] }}</td>
                    <td>
                        <div class="row">
                            <div class="col-sm-2">
                                <a class="btn btn-success"
                                    href="{{ url_for('sizeFORM', type='update') }}&id={{ element['id'] }}">update</a>
                            </div>
                            <div class="col-sm-2">
                                <form action="{{ url_for('sizeDELETE') }}" method="post">
                                    <input type="hidden" name="id" id="id" value="{{ element['id'] }}">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}