<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>extra</title>
</head>

<body>
    <h1>select your extra items:</h1>

    family pizza
    <br>
    size: {{ session["size"] }}
    <br>
    flavor: {{ session["flavor"] }}
    <br>
    complement: {{ session["complement"] }}
    <br><br>
    <form action="{{ url_for('extra') }}" method="post">
        {% for extra in extraList %}
        <input type="checkbox" name="extra" id="{{ extra['code'] }}" value="{{ extra['code'] }}">
        <label for="{{ extra['code'] }}">{{ extra['description'] }}</label>
        <br>
        {% endfor %}
        <br>
        <input type="submit" value="Send">
    </form>

    <br>
    <a href="{{ url_for('complement') }}">Back</a> <a href="{{ url_for('home') }}">Home</a>
</body>

</html>