{% extends 'base.html' %}

{% block title %}pizza palace{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h1>pizza palace</h1>
    <p>this is the pizza palace</p>

    <a href="{{ url_for('size') }}">order a pizza for the family</a>

    <p>admin</p>
    <a href="{{ url_for('sizeCRUD') }}">size crud</a>
    <br>
    <a href="{{ url_for('flavorCRUD') }}">flavor crud</a>
    <br>
    <a href="{{ url_for('complementCRUD') }}">complement crud</a>
    <br>
    <a href="{{ url_for('extraCRUD') }}">extra crud</a>
</div>
{% endblock content %}