<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flavor</title>
</head>

<body>
    <h1>select your pizza flavor:</h1>

    family pizza
    <br>
    size: {{ session["size"] }}
    <br><br>
    <form action="{{ url_for('flavor') }}" method="post">
        {% for flavor in flavorList %}
        <input type="radio" name="flavor" id="{{ flavor['code'] }}" value="{{ flavor['code'] }}">
        <label for="{{ flavor['code'] }}">{{ flavor['description'] }}</label>
        <br>
        {% endfor %}
        <br>
        <input type="submit" value="Send">
    </form>

    <br>
    <a href="{{ url_for('size') }}">Back</a> <a href="{{ url_for('home') }}">Home</a>
</body>

</html>