{% extends '/pizzaProcess/base.html' %}

{% block title %}payment{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
        <h1>payment</h1>
        <p>review the payment of your order:</p>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <table class="table table-dark table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>type</th>
                            <th>description</th>
                            <th>price ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- size -->
                        <tr>
                            <th>{{ orderPriceList[0]["type"] }}</th>
                            <th>{{ orderPriceList[0]["value"] }} pizza(s)</th>
                            <th>{{ orderPriceList[0]["price"] }}</th>
                        </tr>

                        <!-- flavor -->
                        <tr>
                            <th>{{ orderPriceList[1]["type"] }}</th>
                            <th>{{ orderPriceList[1]["value"] }} </th>
                            <th>{{ orderPriceList[1]["price"] }}</th>
                        </tr>

                        <!-- complement -->
                        <tr>
                            <th>{{ orderPriceList[2]["type"] }}</th>
                            <th>{{ orderPriceList[2]["value"] }} </th>
                            <th>{{ orderPriceList[2]["price"] }}</th>
                        </tr>

                        <!-- extras -->
                        {% for item in orderPriceList[3]["value"] %}
                        <tr>
                            <th>{{ orderPriceList[3]["type"] }}</th>
                            <th>{{ item["item"] }} :: ( {{ item["price"] }} ) </th>
                            <th></th>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th></th>
                            <th>total extras:</th>
                            <th>{{ orderPriceList[3]["total"] }}</th>
                        </tr>
                        <tr class="text-success" style="font-size:24px">
                            <th></th>
                            <th>{{ orderPriceList[4]["type"] }}:</th>
                            <th>{{ orderPriceList[4]["price"] }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-3">
        <a class="btn btn-primary" href="{{ url_for('home') }}">Home</a>
    </div>
</div>
{% endblock content %}