{% extends '/pizzaProcess/base.html' %}

{% block title %}size{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
        <h1>select the size of your order</h1>
        <p>size options</p>
    </div>

    <div class="container pt-3">
        <div class="card" style="width:400px">
            <div class="card-body">
                <form action="{{ url_for('size') }}" method="post">
                    <div class="form-group">
                        <label for="size">choose your size:</label><br>
                        <select name="size" class="form-control" id="size">
                            {% for element in sizeList %}
                            <option value="{{ element['value'] }}">{{ element['description'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" class="btn btn-success" value="Send">
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-3">
        <a class="btn btn-primary" href="{{ url_for('home') }}">Back</a>
    </div>
</div>
{% endblock content %}